// Social share button

.social-share-button {
  @extend .float-right ;
}

// Custom pagination

.pagination {
   justify-content: center;
}

// Speeches-show

.main-raised.speeches-show {
  margin: 80px 30px 0;
}

// Custom header

.navbar.navbar-transparent.custom-header {
  background-color: #9c27b0 !important;
  padding: 0.625rem 0;
  margin-bottom: 0;
}

// Custom alert

#top-alert {
  position: fixed;
  top: 70px;
  z-index: 69;
  color: #fff;
  background-color: #9c27b0;
  width: 100%;
}

// Google map
#map {
  height: 50%;
  width: 50%;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
