<footer class="<%= yield(:footer_class) %>">
  <div class="container">
    <nav class="pull-left">
      <ul>
        <li>
          <a href="#">About Us</a>
        </li>
        <li>
          <a href="#">Blog</a>
        </li>
      </ul>
    </nav>
    <div class="copyright pull-right">
      &copy;<%= Time.now.year %>, made with <i class="material-icons">favorite</i> by
      <a href="https://www.facebook.com/manhcuongdtbk" target="_blank">manhcuongdtbk</a>
    </div>
  </div>
</footer>
